<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      The Note making app developed using the cutting edge technologies by Rajan Singh Baliyan and Vaanya.
    </p>
  </div>
  <div class="about">
    <div class="rajan">
    <p>Rajan Singh Baliyan</p>
    </div>
    <div class="vaanya">
      <p>Vaanya</p>
    </div>
  </div>
</section>
