<div class="jumbotron mt-4">
  <h1 class="display-4">Notes App In The Cloud!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express, Mongodb and Javascript Technologies</p>
  <hr class="my-4">
  <p>A well designed app for the fast moving generation and make them as effective and never late for the meeting.
  </p>
</div>